{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'css/Donante.css' %}">
    <!----======== Sidebar ======== -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Trijoli</title>
</head>
<body>
  
  <nav class="sidebar close">
    <header>
        <div class="image-text">
          <span class="image">
            <img src="{% static 'images/Logo.png' %}" alt="logo">
          </span>
          <div class="text header-text">
            <span class="name">Trijoli</span>
            <span class="profession">Esencia y Mensaje <br> del cielo <br> para el mundo</span>
          </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <li class="search-box">
            <i class='bx bx-search icon'></i>
            <form action="busqueda.php" method="post">
            <input type="text" name="busqueda" placeholder="Search...">
            </form>
        </li>
          <li class="nav-link">
            <a href="{% url 'index' %}">
              <i class='bx bx-home-alt icon' ></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'donante' %}">
              <i class='bx bx-user-pin icon' ></i>
              <span class="text nav-text">Donante</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'articulo' %}">
              <i class='bx bx-baguette icon'></i>
              <span class="text nav-text">Articulo</span>
            </a>
          </li>
          
          <li class="nav-link">
            <a href="{% url 'Insert' %}">
              <i class='bx bx-group icon'></i>
              <span class="text nav-text">Insercion</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'dest' %}">
              <i class='bx bx-package icon'></i>
              <span class="text nav-text">Destino</span>
            </a>
          </li>
          
          <li class="nav-link">
            <a href="{% url 'Empleadousu' %}">
              <i class='bx bx-user icon'></i>
              <span class="text nav-text">Empleado</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'brigada' %}">
              <i class='bx bx-shield-plus icon'></i>
              <span class="text nav-text">Eventos</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{% url 'Detalle_donacion' %}">
              <i class='bx bx-filter-alt icon' ></i>
              <span class="text nav-text">Filtro</span>
            </a>
          </li>
          
      </div>
      <div class="bottom-content">
        <li class="">
          <a href="#" onclick="cerrarSesion()">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>

        <li class="mode">
          <div class="moon-sun">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Dark Mode </span>

          <div class="toggle-switch">
            <span class="switch">
              
            </span>
          </div>
        </li>

      </div>
    </div>
  </nav>
  <section class="home">
    <div class="text">
    <div class="form-container">
      <div class="form">
        <h2>Insercion Donante</h2>
        <form action="insercion.php" method="POST">
          <div class="form-group">
            <label for="nombre2">Nombre:</label>
            <input type="text" id="Nom1" name="Nom1" required>
          </div>
          <div class="form-group">
            <label for="apellido2">Correo:</label>
            <input type="email" id="Cor" name="Cor" required>
          </div>
          <div class="form-group">
            <button type="submit" name="submit_donante">Enviar</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </section>
  <script>function cerrarSesion() {
    // Envía una petición AJAX al archivo de cierre de sesión
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "../cerrar.php", true);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        // Redirecciona al usuario a la página de inicio de sesión después de cerrar sesión
        window.location.href = "../Index.php";
      }
    };
    xhr.send();
  }</script>
<script src="{% static 'js/Dashboard.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
